<div class="card mt-4"  *ngFor="let article of articles">
    <div class="card-body">
      <h4 class="card-title">{{article.title}}</h4>
      <div class="card-subtitle text-muted mb-2">
          {{article.createdAt}}
      </div>
      
      <div class="card-text mb-2">{{article.description}}</div>
      <button class = "btn btn-info" (click)="read(article)">Read More</button>
      <button class = "btn btn-primary"(click)="doUpdate(article)">Edit</button>
      <button class = "btn btn-danger" (click)="doDelete(article)">Delete</button>
    </div>
  </div>
            
               
             